@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    width: auto;
}
.dm{
    padding: 60px;
    padding-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    background: url('https://img.freepik.com/premium-photo/businessman-hand-drawing-light-arrow-graph-icon-finance-success-business-background-diagram-growth-financial-chart-development-growing-economic-goal-achievement-symbol-marketing-strategy_79161-2290.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.standmmm{
    font-size: 38px;
    color: #fff;
    text-transform: uppercase;
}
.tdmaium{
    color: #037d88;
    font-size: 36px;
    text-transform: uppercase;
}
.discov{
    font-size: 22px;
    color: #fff;
    margin-top: 40px;
    text-align: justify;
    width: 60%;
    font-weight: 500;
    line-height: 30px;
}
.next{
    padding: 60px 60px 60px 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
}
.waveor{
    margin-top: -35px;
}
.textwrapper{
    display: flex;
    margin-top: 30px;
    margin-bottom: 60px;
}
.standout{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.landscape{
    font-family: "Lora", serif;
    text-align: justify;
    width: 60%;
    color: #7B8391;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 60px;
}
.eithtw{
    margin-right: 50px;
}
.dertialor{
    margin-left: 50px;
}
@media screen and (max-width: 1024px){
    .discov{
        width: 100%;
    }

}
@media screen and (max-width: 1000px){
    .msakd{
        display: flex;
        flex-direction: column-reverse;
    }
    .comlaioe{
        flex-direction: column;
    }
    .dertialor , .eithtw{
        margin: 0;
        padding-top: 20px;
    }
    .landscape{
        width: 100%;
    }
}
@media screen and (max-width: 800px){
    .standmmm{
        font-size: 38px;
    }
}
@media screen and (max-width: 600px){
    .dm, .next{
        padding: 20px;
        padding-top: 80px;
    }
    .standmmm{
        font-size: 26px;
    }
    .discov{
        margin-top: 10px;
      font-size: 18px;
      line-height: 25px;
    }
    .landscape{
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 400px){
    .standout{
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .standmmm{
        font-size: 24px;
    }
}
/* --------------------------- */
.wordldneningdif{
    border-top: 20px solid #1b7f8b;
    padding: 60px;
    background: url('https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjU0NmJhdGNoMy1teW50LTM0LWJhZGdld2F0ZXJjb2xvcl8xLmpwZw.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wdmmc{
    padding: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
}
.wdmiitimc{
    font-family: "Rajdhani", sans-serif;
    color: #ff6a03;
    font-size: 34px;
    text-transform: uppercase;
}

.whitevqidx{
    margin-top: -40px;
}
.asidmchy{
    font-family: "Rajdhani", sans-serif;
    font-size: 32px;
    color: #1b7f8b;
    margin-top: 20px;
    margin-bottom: 10px;
}
.remcto{
    font-family: "Lora", serif;
    color: #000;
    font-size: 20px;
    margin: 10px 0;
}
.wtsuymb{
    font-family: "Lora", serif;
    font-size: 18px;
    color: #000;
    font-size: 19px;
    font-weight: 500;
}
.callsc{
    display: flex;
    margin-bottom: 60px;   
}
.cwymds{
    font-family: "Lora", serif;
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px;
    margin-left: 40px;
    width: 400px;
    height: 200px;
    color: #000;
    border: 2px solid #1b7f8b;
    background: #fff;
    /* background: url('https://img.freepik.com/free-photo/empty-blackboard_53876-30426.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}
.cspn{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #037d88;
}
.cwit{
    margin-top: 20px;
    color: #000;
}
.keyctiewd{
    color: #000;
    margin-top: 10px;
}
@media screen and (max-width: 1050px){
    .callsc{
        flex-direction: column;
    }
    .cwymds{
        margin-left: 0;
    }
}
@media screen and (max-width: 600px){
    .wdmiitimc{
        font-size: 24px;
    }
    .wordldneningdif{
        padding: 20px;
    }
    .tdmaium{
      font-size: 24px;
    }
    .wdmmc{
        padding: 20px;
    }
    .asidmchy{
        font-size: 22px;
    }
    .remcto{
        font-size: 16px;
    }
    .cwymds{
        width: 300px;
    }
}

/* ------------------------ */
.wdmm{
    color: #333333;
}







/* ----------------------------------- */
.drivesection{
    border-top: 20px solid #1b7f8b;
    padding: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
}
.Dsgwbswdc{
    font-size: 38px;
    color: #037d88;
    text-transform: uppercase;
}
.mcpsfaip{
    display: flex;
    margin-top: 30px;
}
.ctrdmcfym{
    margin-top: 20px;
}
.mccnlr{
    font-family: "Lora", serif;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    padding: 25px;
    background: #FFFFF6;
    height: 400px;
    overflow-y: scroll;
    border: 2px solid #ff6c04;
    border-radius: 10px;

}
.frdibpg{
    width: 500px;
    height: 400px;
    border-radius: 10px;
}
/* Custom Scrollbar Styles */
.mccnlr::-webkit-scrollbar {
    width: 14px;
}

.mccnlr::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.mccnlr::-webkit-scrollbar-thumb {
    background-color: #1b7f8b;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

.mccnlr::-webkit-scrollbar-thumb:hover {
    background-color: #037d88;
    cursor: pointer;
}
@media screen and (max-width: 1050px){
    .mcpsfaip{
        flex-direction: column;
    }
    .mccnlr{
        width: 100%;
    }
    .aipdbnine{
        margin-top: 30px;
    }
    .frdibpg{
        margin-top: 30px;
    }
}
@media screen and (max-width: 600px){
.Dsgwbswdc{
 font-size: 24px;
}
    .drivesection{
        padding: 20px;
    }
    .frdibpg{
        width: 400px;
        height: 400px;
    }
}
@media screen and (max-width: 500px){
    .frdibpg{
        width: 300px;
        height: 300px;
    }
}
/* --------------------------------------------- */
.btowbsection{
    padding: 60px;
    padding-bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    border-top: 20px solid #1b7f8b;

    background: url('https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-106174.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btowmadgmb{
    color: #ff6a03;
}
.wsitnom{
    color: #1b7f8b;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
}
.dugifi{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
}
.svtics{
    border-radius: 10px;
}
.wcpbbfoys{
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 40px;
}
/* ---------------------------- */
.ctach{
    padding: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;

    
    background: url('https://img.freepik.com/free-photo/white-simple-textured-design-background_53876-106174.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}
.cwrftmb{
    font-size: 40px;
    margin-bottom: 30px;
    display: flex;
    color: #ff6a03;
    text-transform: uppercase;
}
.dtbtaoo{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.boxdegeca{
    padding: 20px;
    border-radius: 20px;
    border: 2px solid red;
    border-radius: 10px;
    background: #fff;
}
.dnsog{
    font-size: 25px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.drshai{
    font-size: 18px;
    color: #7B8391;
    font-family: "Lora", serif;
    line-height: 30px;
}
.peskwsbsm{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 600px){
    .cwrftmb{
        font-size: 26px;
    }
    .ctach{
        padding: 20px;
    }
.btowbsection{
    padding: 20px;
}
.wsitnom{
    font-size: 22px;
}
.wcpbbfoys{
    font-size: 26px;
    margin: 20px 0;
}
}
@media screen and (max-width: 400px){
    .wcpbbfoys{
        font-size: 22px;
        margin: 20px 0;
    }
}
/* --------------------------------------------- */
.uptreoi{

    border-top: 20px solid #1b7f8b;
    border-bottom: 20px solid #1b7f8b;
    padding: 60px;
    background: url('https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtMjc4LWJvb20tMTI0LXguanBn.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 20px solid #1b7f8b;


    padding: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
    margin-top: -5px;
}
.roudexjad{
    padding: 20px;
    border-radius: 20px;
    width: 500px;
    height: 260px;
    border: 2px solid #ff6a03;
    border-radius: 10px;
}
.memfbroi{
    color: #037d88;
    font-size: 45px;
    margin-bottom: 30px;
    display: flex;
    text-transform: uppercase;
}
.ysnatdef{
    font-size: 20px;
    color: rgb(123, 131, 145);
    font-family: Lora, serif;
    line-height: 30px;
}
.circewhole{
    position: relative;
    bottom: -50px;
    width: 100px;
    height: 100px;
}
.unbtowbuys{
    color: #037d88;
    font-size: 25px;
    margin: 15px 0;
}
.wbfehc{
    font-size: 18px;
    margin: 10px 0;
    color: rgb(123, 131, 145);
    font-family: Lora, serif;
    line-height: 30px;
}
@media screen and (max-width: 600px){
    .uptreoi{
        padding: 20px;
    }
    .ysnatdef{
        font-size: 18px;
        line-height: 26px;
    }
    .wbfehc{
        font-size: 18px;
    }
}
/* ---------------------------------------------- */
.ddgslfsoa{
    padding: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Rajdhani", sans-serif;
    font-optical-sizing: auto;
}
.tbopwusth{
    font-size: 45px;
    margin-bottom: 30px;
    display: flex;
    color: #ff6a03;
    text-transform: uppercase;
}
@media screen and (max-width: 600px){
    .ddgslfsoa{
        padding: 20px;
    }
    .tbopwusth{
        font-size: 28px;
        margin-bottom: 10px;
    }
}




/* =----------------- */
.eksnons{
    padding-left: 60px;
    font-family: "Rajdhani", sans-serif;
    font-size: 45px;
    margin-bottom: 30px;
    display: flex;
    color: #ff6a03;
    text-transform: uppercase;
  }
  .ydpepovckn{
    display: flex;
}
@media screen and (max-width: 1330px){
    .ydpepovckn{
        flex-direction: column;
    }
  }
/* ---------------------------Faq--------------- */
   /* ---------------------------- */
   :root{

    /* Colors */
    --color-primary: #FF4B4B;
    --color-text: #545d7a;
    --color-white: #fff;
    --color-title: #242e4c;
    --color-background: #f7f8fb;
    --color-border: #dae1f5;
    
    /* Fonts */
    --font-family: "Satoshi", sans-serif;
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 2.2rem;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    
    /* Transition & Box Shadow */
    --transition: 0.4s ease-in-out; 
    --shadow: 0px 60px 56px -12px rgba(9, 40, 163, 0.05); 
    
    }
    
    html {
        font-size: 62.5%;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* box-sizing: content-box; */
    }
    
    body {
        background-color: var(--color-background);
        font-family: var(--font-family);
        color: var(--color-text);
        font-size: var(--fs-md);
        font-weight: var(--fw-regular);
    }
    
    .container{ 
        padding: 2rem;
    }
    
    .accordion__wrapper {
        background-color: var(--color-white);
        box-shadow: var(--shadow);
        border-radius: 2.5rem;
        width: 100%;
        max-width: 60rem;
        padding: 5rem;
    }
    
    .accordion__title{
        font-size: var(--fs-lg);
        font-weight: var(--fw-bold);
        color: var(--color-title);
        text-align: center;
        margin-bottom: 4rem;
    }
    
    .accordion {
        border-bottom: 0.1rem solid var(--color-border);
        padding-bottom: 2rem;
        margin-bottom: 3rem;
    }
    
    .accordion__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
    } 
    
    .accordion__icon {
        background-color: #ff6a03;
        width: 2.2rem;
        height: 2.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: var(--color-white);
        flex-shrink: 0;
    }
    
    .accordion__question{
        font-family: "Lora", serif;
        font-size: 20px;
        font-weight: var(--fw-medium);
        color: var(--color-title);
    }
    
    .accordion__answer{
        padding: 2rem 0;
        font-size: 18px;
        margin: 10px 0;
        color: rgb(123, 131, 145);
        font-family: Lora, serif;
        line-height: 30px;
    }
    
    .accordion__content{
        overflow: hidden;
        height: 0;
        transition: var(--transition);
    }
    
    @media screen and (min-width: 580px) {
        .accordion__wrapper {
            padding: 5rem;
        }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    